.cardConteiner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  gap: 25px;
  width: 100%;
  max-width: 600px;
  padding: 15px;
  height: max-content;
  margin: 50px auto;

  color: var(--text-color);
  background-color: var(--card-bg-color);
  border-radius: 10px;
  /* box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);

  button {
    width: 100%;
  }
}

.cardLabels {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap-reverse;

  gap: 10px;
  width: 100%;
}

.editDateCard {
   margin-left: auto;
   font-size: 12px;
   font-style: italic;
}

.cardTitle {
  font-size: 24px;
  line-height: 28px;
}

.cardDescription {
  font-size: 18px;
  line-height: 24px;
}

.cardAnswers {
  margin-top: auto;
  padding: 5px;
  border-radius: 10px;
  opacity: .65;
}

.cardAnswer {
  text-align: justify;
  font-size: 14px;
  font-size: italic;
}

.cardLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  
  li {
    margin-left: 15px;
    opacity: 0.5;
  }
}

.cardCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  span {
    font-size: 14px;
    padding-bottom: 1px;
  }
}

.checkbox {
  width: 16px;
  height: 16px;
  accent-color: var(--btn-bg-color);
}

.cardButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}