.badge {
  width: fit-content;
  border-radius: 20px;
  padding: 3px 10px;
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  background-color: #c5baff;box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
}

.primary {
  background-color: var(--badge-1lvl);
  color: var(--text-color);
}

.success {
  background-color: var(--badge-1lvl);
  color: var(--text-color);
}

.warning {
  background-color: var(--badge-2lvl);
  color: var(--text-color);
}

.alert {
  background-color: var(--badge-3lvl);
  color: var(--text-color);
}