.mainLayout {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  
  height: 100dvh;
  gap: 0;
}

.mainWrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  overflow-y: auto;
  
  height: 100%;
  gap: 0;
  flex-grow: 1;
}

.main {
  padding: 0 20px;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 15px;
  flex-wrap: wrap;
  color: var(--text-color);
  
  width: 100%;
  padding: 15px 10px;
  background-color: transparent;
}