:root {
  --main-bg-color: #23272f;
  --text-color: #fff;
  --btn-bg-color: #383b3f;
  --btn-text-color: #fff;
  --card-bg-color: #343a46;
  --blur-card-color: #57c4dc;;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --text-color: #000;
    --btn-bg-color: #16444f;
    --btn-text-color: #57c4dc;
    --card-bg-color: #ebedf0;
    --blur-card-color: rgba(87, 196, 220, 0.5);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #23272f;
    --text-color: #fff;
    --btn-bg-color: #383b3f;
    --btn-text-color: #fff;
    --card-bg-color: #343a46;
    --blur-card-color: rgba(67, 67, 67, 0.5);
  }
}